{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="hut_post">
            {% if post.published_date %}
                <p id="datetimes_post">
                    Дата публикации: {{ post.published_date|date:"d.m.Y" }}
                    {{ post.published_date|time:"G:i" }}
                </p>
            {% else %}
                <p id="publishstyle">
                    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Опубликовать</a>
                </p>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </div><br/>
        <br/>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
