{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="hut_post">
            {% if post.published_date %}
                <p id="datetimes_post">
                    {{ post.published_date }}
                </p>
            {% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
